{% extends "base.html" %}
{% load static %}

{% block title %}
  Dashboard
{% endblock title %}

{% block content %}
  
  <div class="container text-center mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 card">
          <div class="card-body">
            <h5 class="card-title">No Trading Accounts Selected</h5>
            <p class="card-text">Create and setup an exchange to start trading!</p>
            <p class="card-text">Or select an existing account!</p>
            <a href="" class="btn btn-primary">Go to setup</a>
          </div>
        </div>
    </div>
  </div>
  
{% endblock content %}