{% extends "base.html" %}
{% load static %}

{% block title %}
  Binance Madnews Dashboard
{% endblock title %}

{% block content %}

{% if selected_account %}
<div class="text-center m-2">
  <div class="row">
    <div class="col-md-4 post-toasts-col"></div>
    <div class="col-md-4">
      {% if messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <div class="card">
        <div class="card-header">
          Account : {{selected_account.name}}
        </div>
        <div class="card-body">
          <form method="POST" id="form-body">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Pair</label>
                <select class="form-select" name="pair" required>
                    <option disabled selected value> -- select an option -- </option>
                    {% for pair in selected_account.pairs.all %}
                      <option value="{{pair.name}}">{{pair.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="multiplier" value="0.25">
                  <label class="form-check-label" for="inlineRadio2">x0.25</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="multiplier" value="0.5" checked>
                  <label class="form-check-label" for="inlineRadio2">x0.5</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="multiplier" value="1">
                  <label class="form-check-label" for="inlineRadio2">x1</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="multiplier" value="1.5">
                  <label class="form-check-label" for="inlineRadio2">x1.5</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="multiplier" value="2">
                  <label class="form-check-label" for="inlineRadio2">x2</label>
                </div>
            </div>
            <button type="submit" name="buy" class="btn btn-success">BUY</button>
            <button type="submit" name="sell" class="btn btn-danger">SELL</button>
          </form>
        </div>
      </div>
      <div class="card mt-2">
        <div class="card-header">
          Notifications
        </div>
        <div class="card-body">
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="postSound" checked>
            <label class="form-check-label">Post Notifications</label>
          </div>
          <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" type="checkbox" role="switch" id="tweetSound" checked>
            <label class="form-check-label">Tweet Notifications</label>
          </div>
          <div class="form-check mt-2">
            <button type="button" id="clearNotifications" class="btn btn-dark">clear</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-2">
          <div class="card text-center">
            <div class="card-header">
              Balance
            </div>
            <div class="card-body">
              <p class="card-text">{{selected_account.balance}} USDT</p>
              <a href="" class="btn btn-primary btn-sm">Update</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <div class="card text-center">
            <div class="card-header">
              Pairs
            </div>
            <div class="card-body">
              <p class="card-text">{{selected_account.pairs.count}} Pairs</p>
              <a href="" class="btn btn-primary btn-sm">Update</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 tweet-toasts-col">
    </div>
  </div>
</div>
{% else %}
<div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-4 card">
      <div class="card-body">
        <h5 class="card-title">No Accounts Selected</h5>
        <p class="card-text">Create and setup an account to start trading</p>
        <p class="card-text">Or select an existing account from the Accounts section below on the navbar</p>
        <a href="{% url 'core:create' %}" class="btn btn-primary">Create Account</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
  
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/toasts.js' %}"></script>
<script src="{% static 'js/websocket.js' %}"></script>
{% endblock scripts %}